html, body {
  margin: 0;
  padding: 0;
}

body {
  /*font-family: 'Raleway', sans-serif;*/
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;;
  font-size: 20px;
  /*font-weight: 200;*/
  /*font-size: 32px;*/
  margin-left: 20px;
}

h1 {
  font-family: 'Maven Pro', sans-serif;
  letter-spacing: -0.07em;
  margin: 0px 0 20px 0;
  font-size: 64px;
  font-weight: 700;
}

pre, ul {
  margin: 0;
}

#main {
}

#columns-wrapper {
  width: 100%;
  display: table;
  table-layout: fixed;
  padding: 0;
  margin: 0;
}

#demos-column, #code-column, #ui-column {
  display: table-cell;
  vertical-align: top;
}

#demos-column {
  width: 200px;
  padding-right: 10px;
}

#demos-list {
  list-style-type: none;
  padding: 0;
}

.demo-choice {
  cursor: pointer;
  color: #617DFF;
}

.demo-choice:hover {
  text-decoration: underline;
  background-color: #f5f2f0;
}

#code-column {
}

#code-column pre {
  font-size: 12px;
  /*white-space: pre-wrap;*/
  /*overflow: auto;*/
  margin: 0;
}

#ui-column {
  width: 500px;
  padding: 0 20px;
}
