html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;;
  background: #eee;
}

h1 {
  margin: 0px 0 20px 0;
  font-size: 64px;
  font-weight: 700;
}

pre, ul {
  margin: 0;
}

#main {
  max-width: 960px;
  margin: 0 auto;
}

.bloc-outer {
  margin: 10px auto;
}

.bloc-info {
  display: inline-block;
  padding: 10px 20px;
  background: #ccc;
}

.bloc-remove {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  background: rgb(165, 187, 255);
  cursor: pointer;
  font: inherit;
  border: none;
}

.bloc-remove:hover {
  background: rgb(201, 214, 255);
}

.bloc-container {
  background: white;
}
.bloc-container-empty {
  padding: 10px 20px;
  font-style: italic;
  color: #555;
}
